th {
    color: var(--rct-black);
}
.container {
    overflow-x: visible!important;
    overflow-y: hidden;
}
.section 
{
	position: relative;
	height: 100vh;
}

#paymentElement {
    width: auto;
}

#ticket-qty option {
    font-size: 1.5rem;
}

.section .section-center 
{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.btn-light {
    /* font-size: 3.5rem; */
    display: block;
}

#booking 
{
	font-family: 'Montserrat', sans-serif;
}

.tour_booking {
    width: auto;
}

.tour_booking_form 
{
    
}

.tour_booking_form .form-header 
{
	text-align: center;
	margin-bottom: 25px;
}

.tour_booking_form .form-header h1 
{
	font-size: 58px;
	text-transform: uppercase;
	font-weight: 700;
	color: #ffc001;
	margin: 0px;
}

.tour_booking_form>form 
{
	background-color: #101113;
	padding: 30px 20px;
	border-radius: 3px;
}

.tour_booking_form .form-group 
{
	position: relative;
	margin-bottom: 15px;
}

.tour_booking_form .form-control 
{
	background-color: #f5f5f5;
	border: none;
	height: 45px;
	border-radius: 3px;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-weight: 400;
	color: #101113;
	font-size: large;
}

.tour_booking_form .form-control::-webkit-input-placeholder 
{
	color: rgba(16, 17, 19, 0.3);
}

.tour_booking_form .form-control:-ms-input-placeholder 
{
	color: rgba(16, 17, 19, 0.3);
}

.tour_booking_form .form-control::placeholder 
{
	color: rgba(16, 17, 19, 0.3);
}

.tour_booking_form input[type="date"].form-control:invalid 
{
	color: rgba(16, 17, 19, 0.3);
}

.tour_booking_form select.form-control 
{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.tour_booking_form select.form-control+.select-arrow 
{
	position: absolute;
	right: 0px;
	bottom: 6px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: #101113;
	font-size: 14px;
}

.tour_booking_form select.form-control+.select-arrow:after 
{
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.tour_booking_form .form-label 
{
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 5px;
	display: block;
	text-transform: uppercase;
}

.tour_booking_form .submit-btn 
{
	color: #101113;
	background-color: #ffc001;
	font-weight: 700;
	height: 50px;
	border: none;
	width: 35%;
	margin-top: 20px;
	border-radius: 3px;
	text-transform: uppercase;
}
.loader 
{
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 75px;
	height: 75px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	margin:auto;
	left:0;
	right:0;
	top:0;
	bottom:0;
	position:fixed;
	z-index: 99999999999;
}
  
@-webkit-keyframes spin 
{
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin 
{
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
  
.overlay 
{
    background: #e9e9e9; 
    display: none;      
    position: absolute; 
    top: 0;                 
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}

.experience-list
{
	border: 1px solid;
	padding: 8px;
	box-shadow: 3px 2px 2px 1px #888888;
	border-left: 8px solid #7a9744d1;
	margin-bottom: 15px;
	cursor: pointer;
}
.cat
{
    font-size: 1.9rem;
    color: #888888;
    font-weight: 700;
}

.experience-time-btn {
    margin-left: auto;
    margin-right: auto;
}

.experience-active 
{
	border: 2px solid;
	-webkit-box-shadow: 3px 3px 3px 3px #7a9744d1;
        -moz-box-shadow: 3px 3px 3px 3px #7a9744d1;
        box-shadow: 3px 3px 3px 3px #7a9744d1;
	border-left: 8px solid #7a9744d1;
        background-color: #febf10;
}

.ui-widget 
{
	font-size: 1.5em !important;
}

.client-info
{
/*	border: 0.5px solid rgb(149, 145, 145);
	-webkit-box-shadow: 0 0 5px 2px rgb(149, 145, 145);
    -moz-box-shadow: 0 0 5px 2px rgb(149, 145, 145);
    box-shadow: 0 0 5px 2px rgb(149, 145, 145); */
}

.flat-icon
{
	font-size:25px;
}
.tour-customer-input, .input-icon
{
	border: 0;
    outline: 0;
    border-bottom: 2px solid rgb(218 218 218);
    font-size: 2rem;
    width: 80%;
}

input[type="checkbox"]
{
	width: 20px; 
	height: 20px; 
	cursor: pointer;
}

.checkbox-round 
{
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked 
{
    background-color: rgb(0, 143, 245);
}

.note
{
	color:#b0b0b0;
}

.tour-customer-input:focus-within
{
	outline: none;
	border-bottom:2px solid #7a9744d1;
}
.active
{
	background-color: #7a9744d1;
    border-color: #7a9744d1;
}
.d-none
{
	display:none !important;
}

.checkboxes
{
	margin-top: 10px;
}

label {
    font-size: 1.7rem;
}

.strong-label {
    font-size: 2.0rem!important;
}

#btn-text {
    font-size: 1.9rem;
    
}

.toast-message {
    font-size: 1.5rem;
}

table {
    margin: 15px 0;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 990px)
{
	.tour_booking_form {
	

	}
 
}
@media only screen and (max-width: 767px)
{
	th, td 
	{
		display: table-cell !important;
	}
	.tour_booking_form 
	{

	}
}
@media only screen and (min-width: 767px)
{
	.tour_booking_form 
	{

	}
}

.iti--allow-dropdown input, .iti--allow-dropdown input[type=text], .iti--allow-dropdown input[type=tel], .iti--separate-dial-code input, .iti--separate-dial-code input[type=text], .iti--separate-dial-code input[type=tel]
{
    padding-left: 14px !important;
    margin-left: 0px !important;
}

.iti--allow-dropdown
{
    width: 100%;    
}

.iti--allow-dropdown
{
    padding: 0 6px 0 17px !important;
}

